---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    
 
    {% include masthead.html %}
    
    {{ content }}
   <p style="text-align: center"><a href="https://clustrmaps.com/site/1bi3v" title="Visit tracker"><img src="https://clustrmaps.com/map_v2.png?cl=ffffff&w=a&t=m&d=wcLPh2Blr8RX5HbWZ1csEr0gKeAAVoZgdFMZcZPNLPg" alt="Monthly website visitor map" onerror="this.onerror=null;this.src='https://hits.sh/zwt233.github.io.svg?view=today-total&style=flat-square&label=visits&color=0f2b49&labelColor=8f1d22';this.alt='Website visit counter';this.style.height='20px';this.style.width='auto';this.parentElement.href='https://hits.sh/zwt233.github.io/';this.parentElement.title='Website visit statistics';"/></a></p>
   
    <div class="page__footer">
   
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>
    

    {% include scripts.html %}

  </body>
</html>
